/* .container {
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feed {
  max-width: 80%;
  background-color: antiquewhite;
  width: 100%;
  gap: 20px;
} */
